<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find furbot_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find furbot_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find furbot_navigation)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find furbot_navigation)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find furbot_navigation)/config/base_local_planner_params.yaml" command="load" />


        <remap from="odom" to="odom"/>
        <remap from="scan" to="furbot/laser/scan"/>
        <param name="move_base/DWAPlannerROS/yaw_goal_tolerance" value="0.2"/>
        <param name="move_base/DWAPlannerROS/xy_goal_tolerance" value="0.2"/>

    </node>

    <!-- Map server -->
    <arg name="map_file" default="$(find furbot_navigation)/maps/myworld.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />


    <!-- Place map frame at odometry frame -->
    <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom 100"/>

</launch> 
